.blood-pressure-form {
    width: 500px; 
    margin: 0 auto; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: radial-gradient(50% 50% at 50% 50%, rgb(255,255,255)32.81%,
     rgb(247.58,252.57,255) 97.64%);
    background-color: rgb(255,255,255,1);
    ;
    color: #0069ab;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  
  .consulta{
    display: flex;
    justify-content: center;
  }