.login {
    width: 350px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    left:0;
    background: radial-gradient(50% 50% at 50% 50%, rgb(255,255,255)32.81%,
     rgb(247.58,252.57,255) 97.64%);
    background-color: rgb(255,255,255,1);
    ;
    color: #0069ab;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 50px;
    
    
}
.login2 {
    width: 400px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    right:0;
    background: radial-gradient(50% 50% at 50% 50%, rgb(255,255,255)32.81%,
     rgb(247.58,252.57,255) 97.64%);
    background-color: rgb(255,255,255,1);
    ;
    color: #0069ab;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    
    
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"]
 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff; /* Blue color */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007bff; /* Blue color */
}
 .container {
     display: flex;
     justify-content: center;
     justify-content: space-evenly;
     margin-top: 50px;
 }

.img {
    height: 403px;
    width: 456px;
}

.modal-body {
    display: flex;
}
.formulario{
    
    max-width: 2000px;
    max-height: 300px;
}

.modal-content {
    width: fit-content;
}

.contenedor { /* Contenedor padre del div */
    display: grid;
    place-items: center; /* Centra tanto horizontal como verticalmente */
  }